<form [formGroup]="secretForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <section>
    <h2 class="font--LARGE">Item information</h2>
    <np-text-input [parentForm]="secretForm" id="name-input" label="Name" type="text" controlName="name" />
    <np-text-input [parentForm]="secretForm" id="address-input" label="Website address" type="text" controlName="websiteAddress" />
    <np-text-input [parentForm]="secretForm" id="login-id-input" label="Login ID" type="text" controlName="loginId" />
    <np-text-input [parentForm]="secretForm" id="password-input" label="Password" type="password" controlName="password" />
  </section>
  <section>
    <h2 class="font--LARGE">Notes</h2>
    <np-text-input [parentForm]="secretForm" id="notes" label="Notes" type="text" controlName="notes" />
  </section>
  <section>
    <np-form-button-group>
      <np-button type="submit" colorType="loud" text="Save"/>
      <np-button type="button" colorType="silent" text="Cancel"/>
    </np-form-button-group>
  </section>
</form>
